.EntryCard {
  overflow: hidden;
  background-color: hsl(0, 0%, 15%);
  border-radius: 10px;
  max-height: 150px;
  min-height: 150px;
  display: flex;
}

.Info {
  flex: 1;
  padding: 0.875rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text_wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
  row-gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.text_wrapper h1 {
  font-size: 1.5rem;
}

.text_wrapper span {
  font-size: 1.1rem;
}

.text_wrapper p {
  font-size: 1rem;
  font-weight: 200;
  grid-column: 1 / -1;
}

.types_wrapper {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.types_wrapper div {
  flex: 1;
}

.Picture {
  flex-basis: 150px;
  border-radius: 50% 0 0 50%;
  background-color: white;
}
